<h2>{{compte.name}}</h2>

<h5>Solde : {{compte.balance | currency}}</h5>

<span ng-if="operations.length == 0">
	<br><br>Aucune opération sur ce compte.
</span>

<table class="table table-striped" ng-if="operations.length > 0">
	<thead>
		<tr>
			<th></th>
			<th>Montant</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="op in operations">
			<td>{{op.reason}}</td>
			<td ng-class="cssClass(op.amount)">{{op.amount | currency}}</td>
			<td>{{op.date | date:'dd MMM yyyy - HH:mm'}}</td>
		</tr>
	</tbody>
</table>