<span ng-if="comptes.length == 0">
	Encore aucun compte chez nous ?... <i class="fam-emoticon-unhappy"></i>
</span>

<div ng-if="comptes.length > 0">

<h2>Comptes</h2>

	<div class="alert alert-success animate-show" ng-show="isNotBlank()">
		<span class="fam-accept"></span>{{validationMsg}}
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Solde</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="compte in comptes">
				<td><a href="#/account/detail/{{compte.number}}">{{compte.name}}</a></td>
				<td>{{compte.balance | currency}}</td>
			</tr>
		</tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>{{total | currency}}</td>
            </tr>
        </tfoot>
	</table>

</div>