<div class="alert alert-success" ng-show="listMsgs.length > 0">
	<ul>
		<li ng-repeat="msg in msgs">
			{{msg}}
		</li>
	</ul>
</div>

<div class="alert alert-error animate-show" ng-show="error != ''"
		style="max-width:309px; margin:0 auto 20px;">
	<i class="fam-emoticon-unhappy"></i> {{error}}
</div>

<form class="form-signin">
  <h2 class="form-signin-heading">Connexion</h2>
  <input type="text" class="input-block-level" placeholder="Login" ng-model="login">
  <input type="password" class="input-block-level" placeholder="Password" ng-model="password">
  <div style="text-align:center;">
  	<button class="btn btn-primary" ng-click="doLogin()">Go !</button>
  </div>
</form>
