<!-- Menu de gauche : Uniquement si un utilisateur est connecté-->
<div class="well sidebar-nav animate-fade" ng-controller="MenuLeftController" ng-if="isLogged()">
  
  <ul class="nav nav-list">

    <li ng-class="isActive('/')"><a href="#/">Comptes</a></li>
    <ul class="nav nav-list">
    	<li ng-repeat="compte in comptes" ng-class="isActive('/account/detail/{{compte.number}}')">
    		<a href="#/account/detail/{{compte.number}}">{{compte.name}}</a>
    	</li>
    </ul>

    <!-- Transfert entre comptes -->
    <!-- Seulement pour les users ayant au moins 2 comptes -->
    <li ng-class="isActive('/transfer')" ng-if="comptes.length >= 2">
    	<a href="#/transfer">Virement</a>
    </li>
  </ul>

  <div ng-if="isAdmin()">
		<hr>
	  <ul class="nav nav-list">
	    <li class="nav-header">Administration</li>
	    <li ng-class="isActive('/admin/users', true)">
	    	<a href="#/admin/users">Utilisateurs</a>
	    </li>
	    <li ng-class="isActive('/admin/accounts', true)">
	    	<a href="#/admin/accounts">Comptes bancaires</a>
	    </li>
	    <li ng-class="isActive('/admin/operations', true)">
	    	<a href="#/admin/operations">Opérations</a>
	    </li>
	  </ul>
  </div>

</div>