<h2>Virement</h2>

<form name="transferForm" class="form-horizontal" novalidate>

	<!--Test pour l'animation d'affichage du message
	<button ng-click="do()">Do</button>
	<button ng-click="undo()">Undo</button>-->
	
	<!-- Du compte -->
  <div class="control-group">
    <label class="control-label" for="compteOrigine">Du compte</label>
    <div class="controls">
      <select id="compteOrigine" ng-model="fromAccount" ng-options="c.number as c.label for c in comptes"></select>
    </div>
  </div>

  <!-- Vers le compte -->
  <div class="control-group">
    <label class="control-label" for="compteDestination">Vers</label>
    <div class="controls">
      <select id="compteDestination" ng-model="toAccount" ng-options="c.number as c.label for c in comptes"></select>
    </div>
  </div>

  <!-- Montant -->
  <div class="control-group">
    <label class="control-label" for="montant">Montant</label>
    <div class="controls">
    	<div class="input-append">
      	<input type="number" id="montant" class="amount" ng-model="amount" name="amount" min="1" style="width: 179px;">
      	<span class="add-on">€</span>
        <div class="error" ng-show="transferForm.amount.$dirty && transferForm.amount.$error.min">
            <span ng-show="transferForm.amount.$error.min">Le montant doit être supérieur à 0</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Motif -->
  <div class="control-group">
    <label class="control-label" for="motif">Motif</label>
    <div class="controls">
      <input type="text" id="motif" ng-model="comment">
    </div>
  </div>

  <!-- Submit -->
  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Valider" class="btn btn-primary" ng-click="transferForm.$invalid || doTransfer()" />
    </div>
  </div>

</form>