<table class="table table-bordered table-striped">
    <colgroup>
        <col class="span1">
        <col class="span2">
        <col class="span2">
        <col class="span2">
        <col class="span2">
    </colgroup>
    <thead>
        <tr>
            <th>Numero</th>
            <th>Nom</th>
            <th>Propriétaire</th>
            <th>Solde</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<a class="btn btn-primary" href="#account/create">Créer compte</a>