<h2>Détail d'une opération</h2>

<form class="form-horizontal">

	<div class="alert alert-success animate-show" ng-show="validationMsg != ''">
		<span class="fam-accept"></span>{{validationMsg}}
	</div>

	<!-- Motif -->
	<div class="control-group">
		<label class="control-label" for="inputMotif">Motif</label>
		<div class="controls">
			<input type="text" id="inputMotif" placeholder="Motif" ng-model="operation.reason" />
		</div>
	</div>
	
	<!-- Montant -->
	<div class="control-group">
		<label class="control-label" for="inputAmount">Montant</label>
		<div class="controls">
			<div class="input-append">
				<input type="text" id="inputAmount" placeholder="Montant"
					ng-model="operation.amount" class="amount" />
				<span class="add-on">€</span>
			</div>
		</div>
	</div>
	
	<!-- Numéro de compte -->
	<div class="control-group">
		<label class="control-label" for="inputAccountNumber">Numéro de compte</label>
		<div class="controls">
			<input type="text" id="inputAccountNumber" placeholder="Numéro de compte"
				ng-model="operation.accountNumber" />
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<input type="submit" class="btn btn-primary" value="Enregistrer"
				ng-click="saveOperation()" />
				<a href="#/admin/operations" class="btn" style="margin-left:10px;">Retour</a>
		</div>
	</div>
</form>