<h2>{{title}}</h2>

<form class="form-horizontal">

	<div class="alert alert-success animate-show" ng-show="validationMsg != ''">
		<span class="fam-accept"></span>{{validationMsg}}
	</div>

	<!-- Login -->
	<div class="control-group">
		<label class="control-label" for="inputLogin">Login</label>
		<div class="controls">
			<input type="text" id="inputLogin" placeholder="Login" ng-model="user.login" />
		</div>
	</div>
	
	<!-- Mot de passe -->
	<div class="control-group">
		<label class="control-label" for="inputPassword">Mot de passe</label>
		<div class="controls">
			<input type="password" id="inputPassword" placeholder="Password"
				ng-model="user.password" />
		</div>
	</div>
	
	<!-- Prénom -->
	<div class="control-group">
		<label class="control-label" for="inputFirstName">Prénom</label>
		<div class="controls">
			<input type="text" id="inputFirstName" placeholder="Prénom"
				ng-model="user.firstName" />
		</div>
	</div>
	
	<!-- Nom -->
	<div class="control-group">
		<label class="control-label" for="inputLastName">Nom</label>
		<div class="controls">
			<input type="text" id="inputLastName" placeholder="Nom"
				ng-model="user.lastName" />
		</div>
	</div>
	
	<!-- Admin ? -->
	<div class="control-group">
		<label class="control-label" for="inputAdmin">Admin ?</label>
		<div class="controls">
			<input type="checkbox" id="inputAdmin" ng-model="user.admin"
				ng-checked="user.admin" />
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<input type="submit" class="btn btn-primary" value="Enregistrer"
				ng-click="saveUser()" />
				<a href="#/admin/users" class="btn" style="margin-left:10px;">Retour</a>
		</div>
	</div>
</form>