body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.container-fluid {
  max-width: 900px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.amount {
  text-align: right;
  width: 179px;
}

.text-success {
	text-align: center;
}

.fam-accept {
  margin-right: 10px;
}

.red {
  color: red;
}
.green {
  color: green;
}


/* Animation - Affichage progressif des messages */

​.animate-show.ng-hide-add, 
.animate-show.ng-hide-remove {
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
  display:block!important;
}
 
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
  opacity:0;
}
 
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

/* END Animation */

/* Animation - Affichage progressif du ng-view */

.animate-fade.ng-enter {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
 
.animate-fade.ng-enter,
.animate-fade.ng-leave.ng-leave-active {
  opacity:0;
}
 
.animate-fade.ng-enter.ng-enter-active,
.animate-fade.ng-leave {
  opacity:1;
}

/* END Animation */

/* Form validation */

input.ng-invalid.ng-dirty {
  border: 1px solid #FA787E;
}

/* END Form validation */