<div class="control-group">
    <label class="control-label" for="inputLogin">Login</label>
    <div class="controls">
        <input type="text" id="inputLogin" placeholder="Login"
               data-required="true"
               data-validation-minlength="4"
               data-error-message="Veuillez entrer un login valide">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputPassword">Mot de passe</label>
    <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password"
               data-required="true"
               data-validation-minlength="4"
               data-error-message="Veuillez entrer un mot de passe valide">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputFirstName">Prénom</label>
    <div class="controls">
        <input type="text" id="inputFirstName" placeholder="Prénom"
               data-required="true"
               data-validation-minlength="2"
               data-error-message="Veuillez entrer un prénom valide">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputLastName">Nom</label>
    <div class="controls">
        <input type="text" id="inputLastName" placeholder="Nom"
               data-required="true"
               data-validation-minlength="2"
               data-error-message="Veuillez entrer un nom valide">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputAdmin">Admin ?</label>
    <div class="controls">
        <input type="checkbox" id="inputAdmin" data-group="adminCheckbox">
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <button class="btn btn-primary">Enregistrer</button>
    </div>
</div>
