<table class="table table-bordered table-striped">
    <colgroup>
        <col class="span3">
        <col class="span3">
        <col class="span3">
    </colgroup>
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<a href="#user/create" class="btn btn-primary">Créer utilisateur</a>