<table class="table table-bordered table-striped">
    <colgroup>
        <col class="span5">
        <col class="span2">
        <col class="span1">
    </colgroup>
    <thead>
        <tr>
            <th>Opération</th>
            <th>Date</th>
            <th>Montant</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>