<ul class="nav nav-pills nav-stacked nav-list">
    <li><a href="#accounts/{{login}}"><i class="icon-chevron-right"></i> Accounts</a></li>
    <li><a href="#transfer/{{login}}"><i class="icon-chevron-right"></i> Transfert</a></li>
{{#admin}}
    <li><a href="#setAdminVariables"><i class="icon-chevron-right"></i> Admin</a></li>
{{/admin}}
</ul>