<h2>Comptes</h2>

<div ng-include src="'views/notifications.html'"></div>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Numéro</th>
			<th>Nom</th>
			<th>Propriétaire</th>
			<th>Solde</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="account in accounts">
			<td>{{account.number}}</td>
			<td>{{account.name}}</td>
			<td>{{account.ownerLogin}}</td>
			<td>{{account.balance | currency}}</td>
			<td>
				<a href="#/admin/account/{{account.number}}">Editer</a> /
				<a href ng-click="deleteAccount(account)">Supprimer</a>
			</td>
		</tr>
	</tbody>
</table>

<a href="#/admin/account/" class="btn btn-primary">Créer un compte</a>