<h2>{{title}}</h2>

<div ng-include src="'views/notifications.html'"></div>

<form name="editUserForm" class="form-horizontal" novalidate>

	<!-- Login -->
    <div class="control-group">
        <label class="control-label" for="inputLogin">Login</label>
        <div class="controls">
            
            <input type="text" id="inputLogin" name="login" placeholder="Login" ng-model="user.login" required only-digits focus-me />
            
            <div ng-show="(editUserForm.login.$dirty || submitted) && editUserForm.login.$invalid" class="error">
                <span ng-show="editUserForm.login.$error.required">Champ obligatoire</span>
                <span ng-show="editUserForm.login.$error.onlyDigits">Uniquement des chiffres</span>
            </div>
        </div>
    </div>
	
	<!-- Mot de passe -->
	<div class="control-group">
		<label class="control-label" for="inputPassword">Mot de passe</label>
		<div class="controls">
			<input type="password" id="inputPassword" name="password" placeholder="Password" ng-model="user.password" required />
            <div ng-show="(editUserForm.password.$dirty || submitted) && editUserForm.password.$invalid" class="error">
                <span ng-show="editUserForm.password.$error.required">Champ obligatoire</span>
            </div>
		</div>
	</div>
	
	<!-- Prénom -->
	<div class="control-group">
		<label class="control-label" for="inputFirstName">Prénom</label>
		<div class="controls">
			<input type="text" id="inputFirstName" name="firstName" placeholder="Prénom" ng-model="user.firstName" required />
            <div ng-show="(editUserForm.firstName.$dirty || submitted) && editUserForm.firstName.$invalid" class="error">
                <span ng-show="editUserForm.firstName.$error.required">Champ obligatoire</span>
            </div>
		</div>
	</div>
	
	<!-- Nom -->
	<div class="control-group">
		<label class="control-label" for="inputLastName">Nom</label>
		<div class="controls">
			<input type="text" id="inputLastName" name="lastName" placeholder="Nom" ng-model="user.lastName" required />
            <div ng-show="(editUserForm.lastName.$dirty || submitted) && editUserForm.lastName.$invalid" class="error">
                <span ng-show="editUserForm.lastName.$error.required">Champ obligatoire</span>
            </div>
		</div>
	</div>
	
	<!-- Admin ? -->
	<div class="control-group">
		<label class="control-label" for="inputAdmin">Admin ?</label>
		<div class="controls">
            <input type="checkbox" id="inputAdmin" ng-model="user.admin" ng-checked="user.admin" />
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<input type="submit" class="btn btn-primary" value="Enregistrer" ng-click="submitted = true; editUserForm.$invalid || saveUser()" />
            <a href="#/admin/users" class="btn" style="margin-left:10px;">Retour</a>
		</div>
	</div>
</form>