<h2>{{title}}</h2>

<div ng-include src="'views/notifications.html'"></div>

<form name="editAccountForm" class="form-horizontal" novalidate>

	<!-- Numéro -->
	<div class="control-group">
		<label class="control-label" for="inputNumber">Numéro</label>
		<div class="controls">
			<input type="text" id="inputNumber" name="number" placeholder="Numéro" ng-model="compte.number" required only-digits focus-me />
            <div ng-show="(editAccountForm.number.$dirty || submitted) && editAccountForm.number.$invalid" class="error">
                <span ng-show="editAccountForm.number.$error.required">Champ obligatoire</span>
                <span ng-show="editAccountForm.number.$error.onlyDigits">Uniquement des chiffres</span>
            </div>
		</div>
	</div>
	
	<!-- Nom -->
	<div class="control-group">
		<label class="control-label" for="inputName">Nom</label>
		<div class="controls">
			<input type="text" id="inputName" name="name" placeholder="Nom" ng-model="compte.name" required />
            <div ng-show="(editAccountForm.name.$dirty || submitted) && editAccountForm.name.$invalid" class="error">
                <span ng-show="editAccountForm.name.$error.required">Champ obligatoire</span>
            </div>
		</div>
	</div>
	
	<!-- Propriétaire -->
	<div class="control-group">
		<label class="control-label" for="inputOwner">Propriétaire</label>
		<div class="controls">
			<input type="text" id="inputOwner" name="owner" placeholder="Propriétaire" ng-model="compte.ownerLogin" required typeahead="user.login as user.firstName + ' ' + user.lastName for user in users | filter:$viewValue | limitTo:8" />
            <div ng-show="(editAccountForm.owner.$dirty || submitted) && editAccountForm.owner.$invalid" class="error">
                <span ng-show="editAccountForm.owner.$error.required">Champ obligatoire</span>
            </div>
		</div>
	</div>
	
	<!-- Solde -->
	<div class="control-group">
		<label class="control-label" for="inputBalance">Solde</label>
		<div class="controls">
			<div class="input-append">
				<input type="text" id="inputBalance" name="balance" placeholder="Solde" ng-model="compte.balance" class="amount" required amount />
				<span class="add-on">€</span>
			</div>
            <div ng-show="(editAccountForm.balance.$dirty || submitted) && editAccountForm.balance.$invalid" class="error">
                <span ng-show="editAccountForm.balance.$error.required">Champ obligatoire</span>
                <span ng-show="editAccountForm.balance.$error.amount">Montant invalide</span>
            </div>
		</div>
	</div>
	
	<div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Enregistrer"
                   ng-click="submitted = true; editAccountForm.$invalid || saveAccount()" />
            <a href="#/admin/accounts" class="btn" style="margin-left:10px;">Retour</a>
        </div>
	</div>
</form>