<h2>Utilisateurs</h2>

<div ng-include src="'views/notifications.html'"></div>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Prénom</th>
			<th>Nom</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users">
			<td>{{user.firstName}}</td>
			<td>{{user.lastName}}</td>
			<td>
				<a href="#/admin/user/{{user.login}}">Editer</a> /
				<a href ng-click="deleteUser(user)">Supprimer</a>
			</td>
		</tr>
	</tbody>
</table>

<a href="#/admin/user/" class="btn btn-primary">Créer un utilisateur</a>