<table class="table table-bordered table-striped">
    <colgroup>
        <col class="span3">
        <col class="span2">
        <col class="span2">
        <col class="span2">
    </colgroup>
    <thead>
        <tr>
            <th>Motif</th>
            <th>Numéro de compte</th>
            <th>Montant</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>