<div class="control-group">
    <label class="control-label" for="inputReason">Motif</label>
    <div class="controls">
        <input type="text" id="inputReason" placeholder="Motif"
               data-required="true"
               data-validation-minlength="2"
               data-error-message="Veuillez entrer un nom valide">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputAmount">Montant</label>
    <div class="controls">
        <input type="number" id="inputAmount" placeholder="Montant"
               disabled
               data-required="true"
               data-error-message="Veuillez entrer un montant valide">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputAccountNumber">Numéro de compte</label>
    <div class="controls">
        <input type="text" id="inputAccountNumber" placeholder="N° de compte"
               disabled
               data-required="true"
               data-error-message="Veuillez entrer un numéro valide">
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <button class="btn btn-primary">Enregistrer</button>
        <button class="btn backToPrevious">Retour</button>
    </div>
</div>
