<table class="table table-bordered table-striped">
    <colgroup>
        <col class="span7">
        <col class="span1">
    </colgroup>
    <thead>
        <tr>
            <th>Compte</th>
            <th>Solde</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>