<ul class="nav nav-tabs">
    <li class="active">
        <a data-bypass href="#users" data-toggle="tab">Utilisateurs</a>
    </li>
    <li><a data-bypass href="#accounts" data-toggle="tab">Comptes</a></li>
    <li><a data-bypass href="#operations" data-toggle="tab">Operations</a></li>
</ul>
<div class="tab-content">
    <div id="users" class="tab-pane active">
        <p>Users</p>
    </div>
    <div id="accounts" class="tab-pane">
        <p>Accounts</p>
    </div>
    <div id="operations" class="tab-pane">
        <p>Operations</p>
    </div>
</div>